<p>Привіт, {{name}}!</p>
<p>Ви створили запит на скидання паролю.</p>
<p>
  Перейдіть за цим посиланням для встановлення нового паролю:
  <a href='{{url}}'>{{url}}</a>
</p>

<p>Якщо Ви не створювали запит на скидання паролю, проігноруйте цей лист.</p>